name: Build Android APK

on:
  push:
    branches: [ main ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Install Linux Dependencies
      run: |
        sudo apt-get update
        sudo apt-get install -y libgtk-3-dev libgl1-mesa-dev mesa-utils

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: '3.10'

    - name: Install Dependencies
      run: |
        pip install "pip<24.1"
        pip install flet
        pip install -r requirements.txt

    - name: Setup Java
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '17'

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.19.x'

    - name: Flet Build APK
      run: |
        # Flet build command to generate APK
        # We use --no-android-server to package python engine locally
        yes | flet build apk . --module-name main_single --verbose

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: app-release
        path: build/apk/
