name: Build Android APK

on:
  push:
    branches: [ main, 'feat/**' ]
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./flutter_app

    steps:
    - name: Checkout code
      uses: actions/checkout@v4

    - name: Setup Android SDK
      uses: android-actions/setup-android@v3
      with:
        cmdline-tools-version: 11076708
        packages: 'platforms;android-34 build-tools;34.0.0 platform-tools'

    - name: Setup Java
      uses: actions/setup-java@v3
      with:
        distribution: 'zulu'
        java-version: '17'

    - name: Setup Flutter
      uses: subosito/flutter-action@v2
      with:
        flutter-version: '3.22.x'
        channel: 'stable'

    # [Standard] 6. Gradle 캐시 강제 삭제
    - name: Force Clean Gradle Cache
      run: |
        rm -rf ~/.gradle/caches
        rm -rf ~/.gradle/wrapper
        echo "✅ Done."

    # 7. 라이브러리 다운로드
    - name: Get Flutter Dependencies
      run: flutter pub get

    # 8. APK 빌드 (표준 방식)
    - name: Build APK
      # workers=1 없어도 jetifier ignore로 해결될 것임
      env:
        GRADLE_OPTS: "-Dorg.gradle.daemon=false"
      run: flutter build apk --release

    - name: Upload APK
      uses: actions/upload-artifact@v4
      with:
        name: solo-runner-native
        path: flutter_app/build/app/outputs/flutter-apk/app-release.apk
